
<div class="row">

    <div class="col-lg-12">
        <!-- ------------------------------------------------------------------------- -->
        <!-- basic -->
        <!-- ------------------------------------------------------------------------- -->    
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Filtros</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option class="f-s-14" (click)="changeFilter($event, filterEnum.all)">Todo</mat-chip-option>             
              <mat-chip-option class="f-s-14" (click)="changeFilter($event, filterEnum.published)" color="primary">Publicados</mat-chip-option>
              <mat-chip-option class="f-s-14" (click)="changeFilter($event, filterEnum.noPublished)" color="warn">No Publicados</mat-chip-option>              
            </mat-chip-listbox>
          </mat-card-content>
        </mat-card>
      </div>

    <div class="col-sm-6 col-lg-3" *ngFor="let pst of visiblePsts()">
      <mat-card class="cardWithShadow pst overflow-hidden">
        <a routerLink="/widgets/cards">
          <img
            src="{{ pst.imgSrc }}"
            alt="imgSrc"
            class="w-100"
            mat-card-image
          />
        </a>
        <mat-card-content class="p-b-24 p-t-12 position-relative">
          <button
            mat-mini-fab
            color="primary"
            class="icon-30 cart-btn"
            matTooltip="¡Lo quiero!"
          >
            <i-tabler name="basket" class="icon-16"></i-tabler>
          </button>
          <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{
            pst.title
          }}</mat-card-title>

          <p>
            Anfitrión: {{pst.hostName}}
          </p>        

          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <h6 class="mat-body-2 f-w-600">${{ pst.price }}</h6>
              <!-- <span class="f-s-14 m-l-4 text-decoration-line-through"
                >${{ productcard.rprice }}</span> -->
              
            </div>
            <div class="m-l-auto d-flex gap-4">
              <span
                ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
              ></span>
              <span
                ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
              ></span>
              <span
                ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
              ></span>
              <span
                ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
              ></span>
              <span
                ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
              ></span>
            </div>
          </div>       

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-12">
        <mat-card class="b-1 shadow-none">
            <mat-card-content>
            <p>
                <span matBadge="{{totalCount()}}" matBadgeOverlap="false" class="f-w-500 text-muted">Servicios que ofreces: </span>
            </p>
            </mat-card-content>
        </mat-card>
    </div>
  </div>
  